body {
  background: #cccccc; }

.wrap {
  width: 90%;
  max-width: 960px;
  margin: 10px auto;
  overflow: auto;
  background-color: white;
  padding: 10px;
  border-radius: 4px; }

.head {
  width: 100%;
  overflow: auto; }
  .head h1 {
    float: left;
    font-family: "Lobster", cursive;
    font-size: 80px; }
  .head img {
    width: 200px;
    float: left; }

.main, .aside {
  font-family: "Helvetica", "Arial"; }
  .main h2, .aside h2 {
    text-transform: uppercase;
    margin-bottom: 0; }
  .main h2 + p, .aside h2 + p {
    margin-top: 3px; }

.main {
  width: 70%;
  float: left; }

.aside {
  width: 25%;
  float: right; }

.accordion {
  margin: 10px 0 0 0;
  padding: 0; }
  .accordion li {
    list-style-type: none;
    border: 1px solid black; }
    .accordion li h3 {
      font-size: 15px;
      background: #dddddd;
      padding: 10px;
      margin: 0; }
    .accordion li p {
      margin-top: 5px;
      font-size: 14px;
      padding: 5px; }
